export(Rlars)
export(SLTS)
export(genevar)
export(lassocv)
export(sregcell)
export(sregcell_lambda)
export(sregcell_std)
export(newcellmap)
import(Rcpp)
importFrom(Rcpp,evalCpp)
importFrom(glmnet,cv.glmnet)
importFrom(mvtnorm,rmvt)
importFrom(robustHD,rlars)
importFrom(robustHD,robStandardize)
importFrom(robustHD,sparseLTS)
importFrom(robustbase,Qn)
import(ggplot2)
importFrom(reshape2,melt)
importFrom(scales,rescale)
useDynLib(regcell, .registration=TRUE)
